JATS-archivearticle1.dtd

<!-- ============================================================= -->
<!--  MODULE:    Journal Archiving and Interchange DTD             -->
<!--  VERSION:   3.0                                               -->
<!--  DATE:      Feb 2008                                          -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    PUBLIC DOCUMENT TYPE DEFINITION            -->
<!--                        TYPICAL INVOCATION                     -->
<!--
"-//NLM//DTD Journal Archiving and Interchange DTD v3.0 20080202//EN"
     Delivered as file "archivearticle3.dtd"                       -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!-- SYSTEM:     Journal Archiving and Interchange DTD of the      -->
<!--             Archiving and Interchange DTD Suite               -->
<!--                                                               -->
<!-- PURPOSE:    DTD to describe a full-text journal article       -->
<!--                                                               -->
<!--             The Journal Archiving and Interchange DTD         -->
<!--             describes journal articles and some non-article   -->
<!--             material such as product and book reviews for     -->
<!--             repository or interchange purposes. It describes  -->
<!--             both the metadata for a journal article and the   -->
<!--             full content of the article.                      --> 
<!--             This DTD was constructed using the modules in the -->
<!--             Archiving and Interchange DTD Suite, using almost -->
<!--             no customization.                                 -->
<!--                                                               -->
<!-- CONTAINS:   1) Declare and invoke the Archival (Green) DTD-   -->
<!--                specific module of modules, that names  any    -->
<!--                modules created expressly for this DTD.        -->
<!--                   (%archivecustom-modules.ent;)               -->
<!--             2) Declare and invoke the DTD Suite module of     -->
<!--                   modules (%modules.ent;), the Archiving and  -->
<!--                   Interchange Suite module that names all the -->
<!--                   Suite modules this DTD might invoke         -->
<!--             3) Invoke DTD-specific classes over-ride module   -->
<!--                               (%archivecustom-classes.ent;)   -->
<!--             4) Invoke Suite default classes                   -->
<!--                               (%default-classes.ent;)         -->
<!--             5) Invoke DTD-specific mixes over-ride module     -->
<!--                               (%archivecustom-mixes.ent;)     -->
<!--             6) Invoke Suite default mixes                     -->
<!--                               (%default-mixes.ent;)           -->
<!--             7) Invoke DTD-specific content model over-ride    -->
<!--                        module (%archivecustom-models.ent;)    -->
<!--             8) Invoke the Common Element Module (from Suite)  -->
<!--             9) Invoke all the Class Modules (from Suite) as   -->
<!--                    well as any DTD-specific element modules   -->
<!--            10) Parameter Entities for attribute values used   -->
<!--                 in this module (DTD-specific definitions)     -->
<!--            11) Define document element (Article <article>)    -->
<!--            12) Define Front Matter <front>                    -->
<!--            13) Define Body Matter <body>                      -->
<!--            14) Define Back Matter <back>                      -->
<!--                                                               -->
<!-- TAG SET SPONSOR                                               -->
<!--             Digital Archive of Journal Articles               -->
<!--             National Center for Biotechnology Information     -->
<!--                (NCBI)                                         -->
<!--             National Library of Medicine (NLM)                -->
<!--                                                               -->
<!-- CREATED FOR:                                                  -->
<!--             Digital archives and publishers who wish to       -->
<!--             create a custom XML DTD for original markup of    -->
<!--             journal literature, books, and related material,  -->
<!--             or for archiving and transferring such material   -->
<!--             between archives.                                 -->
<!--                                                               -->
<!--             This DTD is in the public domain. An organization -->
<!--             that wishes to create its own DTD from the suite  -->
<!--             may do so without permission from NLM.            -->
<!--                                                               -->
<!--             The suite has been set up to be extended using a  -->
<!--             new DTD file and a new DTD-specific customization -->
<!--             module to redefine the many Parameter Entities.   -->
<!--             Do not modify the suite directly or redistribute  -->
<!--             modified versions of the suite.                   -->
<!--                                                               -->
<!--             In the interest of maintaining consistency and    -->
<!--             clarity for potential users, NLM requests:        -->
<!--                                                               -->
<!--             1. If you create a DTD from the Archiving and     -->
<!--                Interchange DTD Suite and intend to stay       -->
<!--                compatible with the suite, then please include -->
<!--                the following statement as a comment in all of -->
<!--                your DTD modules:                              -->
<!--                   "Created from, and fully compatible with,   -->
<!--                    the Archiving and Interchange DTD Suite."  -->
<!--                                                               -->
<!--             2. If you alter one or more modules of the suite, -->
<!--                then please rename your version and all its    -->
<!--                modules to avoid any confusion with the        -->
<!--                original suite. Also, please include the       -->
<!--                following statement as a comment in all your   -->
<!--                DTD modules:                                   -->
<!--                   "Based in part on, but not fully compatible -->
<!--                    with, the Archiving and Interchange DTD    --> 
<!--                    Suite."                                    -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             December 2002                                     -->
<!--                                                               -->
<!-- CREATED BY: Jeff Beck       (NCBI)                            -->
<!--             Deborah Lapeyre (Mulberry Technologies, Inc.)     -->
<!--             Bruce Rosenblum (Inera Inc.)                      -->
<!--                                                               -->
<!--             The Journal Archiving and Interchange DTD is      -->
<!--             built from the Archiving and Interchange DTD      -->
<!--             Suite.                                            -->
<!--                                                               -->
<!--             NLM thanks the Harvard University Libraries, both -->
<!--             for proposing that a draft archiving NLM DTD for  --> 
<!--             life sciences journals be extended to accommodate -->
<!--             journals in all disciplines and for sponsoring    -->
<!--             Bruce Rosenblum's collaboration with other DTD    -->
<!--             authors in completing Version 1.0. The Andrew W.  --> 
<!--             Mellon Foundation provided support for these      --> 
<!--             important contributions.                          -->
<!--                                                               -->
<!--             Suggestions for refinements and enhancements to   -->
<!--             this DTD should be sent in email to:              -->
<!--                 archive-dtd@ncbi.nlm.nih.gov                  -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    DTD VERSION/CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--

     =============================================================

Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)

     =============================================================
     Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)
     
     Version 3.0 is the first non-backward-compatible release.
     In addition to the usual incremental changes, some
     elements and attributes have been renamed and/or remodeled
     to better meet user needs and to increase tag set consistency.
     All module change histories are available through the Tag Suite 
     web site at http://dtd.nlm.nih.gov. 

     Details on version 3.0 are available at 
           http://dtd.nlm.nih.gov/3.0.
  
  2. Changed default @xml:lang from "EN" from "en" to match latest
     RFC 4646/W3C/IANA Subtag Registry recommendations
  
  1. Updated public identifier to "v3.0 20080202//EN"              -->


<!-- ============================================================= -->
<!--                    PARAMETER ENTITIES FOR ATTRIBUTE LISTS     -->
<!-- ============================================================= -->


<!--                    DTD VERSION                                -->
<!--                    What version of this DTD was used to make
                        the document instance under consideration.
                        Note that this is a fixed value that should
                        change every time the DTD changes versions or
                        revisions.                                 -->
<!ENTITY % dtd-version   
            "dtd-version        
                        CDATA                         #FIXED '3.0'"  >



<!--                    ARTICLE ATTRIBUTES                         -->
<!--                    Attributes for the top-level element
                        <article>                                  -->
<!ENTITY % article-atts
            "article-type   
                        CDATA                              #IMPLIED
             %dtd-version;                              
             xml:lang   NMTOKEN                            'en'"     >


<!--                    SUB-ARTICLE ATTRIBUTES                     -->
<!--                    Attributes for the <sub-article> element   -->
<!ENTITY % sub-article-atts
            "article-type   
                        CDATA                              #IMPLIED
             id         ID                                 #IMPLIED  
             xml:lang   NMTOKEN                            'en'"     >


<!--                    RESPONSE ATTRIBUTES                        -->
<!--                    Attributes for the <response> element      -->
<!ENTITY % response-atts
            "response-type   
                        CDATA                              #IMPLIED
             id         ID                                 #IMPLIED  
             xml:lang   NMTOKEN                            'en'"     >
                                                               

<!-- ============================================================= -->
<!--                    JOURNAL ARTICLE ELEMENTS                   -->
<!-- ============================================================= -->


<!--                    ARTICLE MODEL (LIMITED)                    -->
<!--                    Article-like model used for, for example,
                        a short sub-article such as a news brief that
                        is contained in side a journal article.    -->
<!ENTITY % article-short-model    
                        "((front | front-stub), body?, back?,
                          floats-group?)"                            >


<!--                    ARTICLE MODEL WITH SUBARTICLE OR RESPONSE  -->
<!--                    Typical journal article model, which may
                        contain extended components, such as
                        sub-articles or responses,                 -->
<!ENTITY % article-full-model
                        "(front, body?, back?, floats-group?,
                          (sub-article* | response*) )"              >


<!--                    ARTICLE                                    -->
<!--                    The complete content of a journal article.                        
                        Details at: 
                        http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=article
                                                                   -->
<!ELEMENT  article      %article-full-model;                         >
<!ATTLIST  article
             %article-atts;                                          >


<!-- ============================================================= -->
<!--                    FRONT MATTER ELEMENTS                      -->
<!-- ============================================================= -->


<!--                    FRONT MATTER MODEL                         -->
<!--                    Model for the <front> matter (the header
                        metadata) of a journal article)            -->
<!ENTITY % front-model  "(journal-meta?, article-meta )"    > 
 

<!--                    FRONT MATTER                               -->
<!--                    The metadata concerning an article, such as
                        the name and issue of the journal in which it
                        appears and the name and author(s) of the 
                        article.                              
                        Details at: 
                        http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=front
                                                                   -->
<!ELEMENT  front        %front-model;                                > 


<!-- ============================================================= -->
<!--                    BODY ELEMENTS                              -->
<!-- ============================================================= -->


<!--                    BODY MODEL                                 -->
<!--                    Content model for the Body (main textual
                        content) of a journal article.             -->
<!ENTITY % body-model   "(sig-block?)"                               > 


<!--                    BODY OF THE ARTICLE                        -->
<!--                    The main textual portion of the article that
                        conveys the content.                
                        Details at: 
                        http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=body
                                                                   -->
<!ELEMENT  body         %body-model;                                 >


<!-- ============================================================= -->
<!--                    BACK MATTER ELEMENTS                       -->
<!-- ============================================================= -->


<!--                    BACK MATTER MODEL                          -->
<!--                    Content model for the Back Matter (ancillary
                        material such as appendices) of a journal
                        article.                                   -->
<!ENTITY % back-model   "(label?, title*)"                >


<!--                    BACK MATTER                                -->
<!--                    Ancillary or supporting material not included
                        as part of the main textual content of a 
                        journal article, for example appendices and
                        acknowledgments.
                        Details at: 
                        http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=back
                                                                   -->
<!ELEMENT  back         %back-model;                                 >


<!-- ============================================================= -->
<!--                    SUBARTICLE                                 -->
<!-- ============================================================= -->


<!--                    SUBARTICLE MODEL                           -->
<!--                    Content model for the <sub-article> element
                                                                   -->
<!ENTITY % sub-article-model   
                        "( (front | front-stub), body?, back?,
                           floats-group?, 
                           (sub-article* | response*) )"             >


<!--                    SUBARTICLE                                 -->
<!--                    An article that is completely contained 
                        inside another article. Both the article and
                        the subarticle have their own metadata.
                        Details at: 
                        http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=sub-article
                                                                   -->
<!ELEMENT  sub-article  %sub-article-model;                          >
<!ATTLIST  sub-article 
             %sub-article-atts;                                      >

  
<!--                    FRONT MODEL STUB                           -->
<!--                    Content model for the <front-stub> element,
                        a reduced metadata set for use in 
                        sub-articles and responses.                -->
<!ENTITY % front-stub-model  
                        "(article-id*, article-categories?, 
                         title-group?, 
                         (contrib-group | aff)*, 
                         author-notes?, pub-date*,
                         volume?, volume-id*, volume-series?, 
                         issue?, issue-id*, issue-title*,
                         issue-sponsor*, issue-part?, isbn*, 
                         supplement?, 
                         ( ( (fpage, lpage?)?, page-range?) | 
                           elocation-id )?, 
                         (product | 
                          supplementary-material)*, 
                         history?, permissions?, self-uri*, 
                         related-article*, abstract*, 
                         trans-abstract*, kwd-group*,
                         funding-group*, conference*, counts?, 
                         custom-meta-group?)"                        >


<!--                    STUB FRONT METADATA                        -->
<!--                    A reduced metadata set for use in 
                        sub-articles and responses, which will 
                        inherit metadata not defined in the stub
                        from the enclosing article
                        Details at: 
                        http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=front-stub
                                                                   -->
<!ELEMENT  front-stub   %front-stub-model;                           >
             
             
<!-- ============================================================= -->
<!--                    RESPONSE ELEMENTS                          -->
<!-- ============================================================= -->


<!--                    RESPONSE                                   -->
<!--                    Reply, response, or commentary concerning the
                        journal article.
                        Details at: 
                        http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=response
                                                                   -->
<!ELEMENT  response     %article-short-model;                        >
<!ATTLIST  response
             %response-atts;                                         >


<!-- ================== End Journal Archiving and Interchange DTD  -->
